  name: Train & Deploy

  # Trigger manually
  on:
    workflow_dispatch:

  env:
    DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/sentinel-api
    PYTHONPATH: ${{ github.workspace }}/src

  jobs:
    build-and-push:
      runs-on: ubuntu-latest
      
      steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install bentoml scikit-learn pandas pyarrow

      # Retraining the model
      - name: Train Model
        env:
          PYTHONPATH: ${{ github.workspace }}/src
          BENTOML_HOME: ${{ github.workspace }}/bento_storage
        run: |
          echo "Training Model"
          python src/sentinel/models/train.py
          
      # Export the trained model to docker
      - name: Export Model
        env:
          BENTOML_HOME: ${{ github.workspace }}/bento_storage
        run: |
          echo "Checking BentoML registry"
          bentoml models list
          echo "Exporting model to directory"
          mkdir -p model_store
          bentoml models export sentinel_model:latest model_store/sentinel_model.bentomodel

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and Push Docker Image
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.api
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:latest
          build-args: |
            MODEL_PATH=model_store
