name: Build & Deploy All

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
  PYTHONPATH: ${{ github.workspace }}/src
  BENTOML_HOME: ${{ github.workspace }}/bento_storage

jobs:
  # Job to build API service
  build-api:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install bentoml scikit-learn pandas pyarrow

      # Retraining the model
      - name: Train Model
        env:
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          echo "Training Model"
          python src/sentinel/models/train.py
          
      # Export the trained model to docker
      - name: Export Model
        run: |
          echo "Checking BentoML registry"
          bentoml models list
          echo "Exporting model to directory"
          mkdir -p ${{ github.workspace }}/model_store
          bentoml models export sentinel_model:latest ${{ github.workspace }}/model_store/sentinel_model.bentomodel

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and Push Docker Image
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.api
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:latest
          build-args: |
            MODEL_PATH=model_store

  # Job to build other services: producer, processor, dashboard
  build-others:
    runs-on: ubuntu-latest
    needs: build-api # Wait for API to ensure code is good, or remove to run instantly
    strategy:
      matrix:
        service: [producer, processor, dashboard]
    
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push ${{ matrix.service }}
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.service }}
          push: true
          tags: ${{ env.DOCKER_USER }}/sentinel-${{ matrix.service }}:latest