  name: Train & Deploy

  # Trigger manually or on schedule
  on:
    workflow_dispatch:
    # schedule:
    #   - cron: '0 0 * * 0' # Weekly on Sundays

  env:
    DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/sentinel-api
    PYTHONPATH: ${{ github.workspace }}/src

  jobs:
    build-and-push:
      runs-on: ubuntu-latest
      
      steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install bentoml scikit-learn pandas pyarrow

      # Retraining the model
      - name: Train Model
        env:
          PYTHONPATH: ${{ github.workspace }}/src
          BENTOML_HOME: ${{ github.workspace }}/bento_storage
        run: |
          echo "Training Model"
          python src/sentinel/models/train.py
          
      # Export the trained model to docker
      # We need to move the saved model from the hidden system folder to the current folder so Docker can copy it
      - name: Export Model
        env:
          BENTOML_HOME: ${{ github.workspace }}/bento_storage
        run: |
          echo "Looking for model in bento_storage"
          # The structure is: bento_storage/models/sentinel_model/<tag>/
          # We list the folder to find the tag (version) generated 5 seconds ago
          LATEST_TAG=$(ls -t $BENTOML_HOME/models/sentinel_model/ | head -n1)
          echo "Found latest tag: $LATEST_TAG"
          
          # Construct the full path
          MODEL_PATH="$BENTOML_HOME/models/sentinel_model/$LATEST_TAG"
          
          # Copy content to the build context folder
          mkdir -p model_store
          cp -r $MODEL_PATH/* model_store/
          
          echo "Model files copied to 'model_store/' successfully!"
          ls -la model_store/

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and Push Docker Image
      # We modify the context to include the model we just exported
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.api
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:latest
          # We pass the model folder into the build
          build-args: |
            MODEL_PATH=model_store
