name: Train & Deploy

# Trigger manually or on schedule
on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0 * * 0' # Weekly on Sundays

env:
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/sentinel-api
  PYTHONPATH: ${{ github.workspace }}/src

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install bentoml scikit-learn pandas pyarrow

    # Retraining the model
    - name: Train Model
      run: |
        echo "Training Model"
        python src/sentinel/models/train.py
        
    # Export the trained model to docker
    # We need to move the saved model from the hidden system folder to the current folder so Docker can copy it
    - name: Export Model
      run: |
        echo "Reading model path"
        BENTO_PATH=$(cat bento_model_path.txt)
        ls -lah "$BENTO_PATH"
        echo "Found model at: $BENTO_PATH"
        mkdir -p model_store
        cp -r "$BENTO_PATH" model_store/

    # Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build and Push Docker Image
    # We modify the context to include the model we just exported
    - name: Build and Push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: docker/Dockerfile.api
        push: true
        tags: ${{ env.DOCKER_IMAGE }}:latest
        # We pass the model folder into the build
        build-args: |
          MODEL_PATH=model_store
